<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.App1food30s"
        tools:targetApi="31" >
<!--     For Facebook login -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

<!--    ============ -->
        <activity
            android:name=".ui.change_language.ChangeLanguageActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQFpHSKFfBqU9XM8ZFGOEHPGyMkh6iCZk" />

        <activity
            android:name=".ui.authentication.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.offer_detail.OfferDetailActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.product_view_all.ProductViewAllActivity"
            android:exported="true" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".ui.edit_category.EditCategory"
            android:exported="false" />
        <activity
            android:name=".ui.manage_category.ManageCategoryDetail"
            android:exported="false" />
        <activity
            android:name=".ui.edit_offer.EditOffer"
            android:exported="false" />
        <activity
            android:name=".ui.offers.ManageOfferDetail"
            android:exported="false" />
        <activity
            android:name=".ui.change_password.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.edit_product.EditProduct"
            android:exported="false" />
        <activity
            android:name=".ui.main.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.DeleteAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ui.manage_category.ManageCategory"
            android:exported="true" />
        <activity
            android:name=".ui.offers.ManageOffer"
            android:exported="true" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.manage_product.ManageProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.manage_product.ManageProductActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.manage_order.manage_order_details.ManageOrderDetailsActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.manage_order.ManageOrderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product_detail.ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.my_order.MyOrderActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.my_order.my_order_details.MyOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="true" >
        </activity> <!-- ADMIN -->
        <activity
            android:name=".ui.admin_stats.AdminStatsActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>